
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section__part_5 {
    .container{
        .part{
            width: 1185px;
            position: relative;
            height: 444.38px;
            background: linear-gradient(90deg, #EEF7EE,#BAD6BB);
            margin-top: 120px;
            border-radius: 24px;
            margin-bottom: 50px;
            .mint{ 
                position: absolute;
                left: 118px;
                top: 279px;
                z-index: 3;
            }
            .bag {
                position: absolute;
                left: 196px;
                top: 35px;
                z-index: 2;
            }
            .clove {
                position: absolute;
                top: 255px;
                left: 277px;
                z-index: 1;
                
            }
            .water {
                position: absolute;
                left: 10px;
                bottom: 10px;
                
            }
        }
    
    }

}
.part_5_info { 
    width: 559px;
    height: 289.92px;
    background: transparent;
    position: absolute;
    top: 53px;
    right: 50px;
    h2{
        font-weight: bold 600;
        
        line-height: 54px;
        text-align: left;
        font-size: 36px;
        color: #000;
        
    }
    h3{
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        font-size: 18px;
        color: #000;
        margin-top: 13.17px;
        
    }
    button {
        width: 168px;
        height: 44px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        border-radius: 8px;
        background: #405741;
        border: transparent;
        color: #fff;
        margin-top: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 8px;
        transition: all 1s;
    }
    button:hover {
        background: #fff;
        color: #405741;
        transform: translate(0px, -25px);
    }
}
.section__part_6 {
    width: 1440px;
    // width: 100%;
    height: 663px;
    background: #E9F8EF;
    margin: 0 auto;
    padding-top: 93.5px;
    h2 {
        font-size: 44px;
        font-weight: 600;
        line-height: 66px;
        text-align: center;
        color: #172B4D;

    }
    h3 {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #172B4D;

    }
    .cardwrapper_6 {
        width: 1185px;
        height: 476px;
        margin-top: 80px;

        .cards {
            width: 1185px;
            height: 234px;
            display: flex;
            gap: 16px;
        }
        .card_6 {
            width: 384.33px;
            height: 234px;
            border-radius: 8px;
            box-shadow: 0px 0px 1px 0px #091E424F;
            box-shadow: 0px 3px 5px 0px #091E4233;
            background: #fff;
            

        }
        
    
    }

} 
.card_6  {
    p {
        width: 338px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #121216;
        margin-top: 24px;
        margin-left: 24px;
    }
    .user_part {
        display: flex;
        width: 336.33px;
        height: 50px;
        align-items: center;

        margin-left: 24px;
        margin-top: 40px;
        .costumer_name {
            width: 132px;
            height: 49px;
            text-align-last: left;
            margin-left: 19px;
            margin-right: 90px;
            
        }
    }
}
.costumer_name p {
    width: 126px;
    margin-top: 0;
    margin-left: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #121216;
}
h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #A8A9B2;
}
.cardwrapper_6 .buttons_6 {
    width: 184px;
    display: flex;
    margin: 60px auto;
    gap: 8px;
    button {
        width: 40px;
        height: 8px;
        border-radius: 8px;
        background: rgba(64, 87, 65,0.2);
        border:transparent;
        transition: all 0.5s;
    }
    button:first-child{
    background: #405741;
    }
    button:hover {
        border: 1px solid #333;
    }
}